/* body */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
/* common */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

address {
  font-style: normal;
  margin-left: auto;
}

/* logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin: 76px;
}

.logo-accent {
  color: #2e2f42;
}

.logo-accent-footer {
  color: #f4f4fd;
}

/* navigation */

.nav-link,
.contact-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contact-link {
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* hero */

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  display: block;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* team section */

.light {
  background-color: #f4f4fd;
  padding: 100px 0;
}

.team-card {
  background-color: #ffffff;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* footer */

footer {
  background-color: #2e2f42;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.section-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
